<a href="https://colab.research.google.com/github/ekaratnida/Automated_Tools-/blob/keep/Pykeen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!rm -rf /content/sample_data
! pip install pykeen==1.0.4

In [ ]:
from pykeen.pipeline import pipeline

results = pipeline(model='TransE', dataset='Nations')
hits_at_10 = results.metric_results

In [ ]:
dir(results.model)

In [35]:
#Predict all tails
predicted_tails_df = results.model.predict_tails('brazil', 'accusation')
predicted_tails_df[0:14]

    tail_id   tail_label      score  in_training
0         0       brazil  -6.518720        False
12       12          usa  -9.193031        False
8         8       jordan  -9.457209        False
3         3         cuba -10.204332        False
4         4        egypt -10.349472        False
13       13         ussr -10.403512        False
2         2        china -10.413101        False
10       10       poland -10.535158        False
9         9  netherlands -10.747310        False
7         7       israel -10.830523        False
5         5        india -10.874911        False
6         6    indonesia -11.341635        False
11       11           uk -11.410944        False
1         1        burma -11.739691        False